In [2]:
import mysql.connector as sql
import pandas as pd

In [5]:
db_connection = sql.connect(host="localhost",database="country_club",user='root',password='')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM Bookings')
table_rows = db_cursor.fetchall()
df = pd.DataFrame(table_rows)

In [6]:
df

         0  1   2                    3  4
0        0  3   1  2012-07-03 11:00:00  2
1        1  4   1  2012-07-03 08:00:00  2
2        2  6   0  2012-07-03 18:00:00  2
3        3  7   1  2012-07-03 19:00:00  2
4        4  8   1  2012-07-03 10:00:00  1
...    ... ..  ..                  ... ..
1335  1335  8   3  2012-08-16 19:00:00  1
1336  1336  8  12  2012-08-16 19:30:00  1
1337  1337  0   0  2012-08-17 08:30:00  3
1338  1338  0  14  2012-08-17 12:30:00  3
1339  1339  0   6  2012-08-17 14:00:00  3

[1340 rows x 5 columns]